.main{
height: 1800px;

}
.div1{
background-color: wheat;
width: 1200px;
margin: 0 auto;
height: 300px;
display: flex;
}
.div1 a:hover{
    height: 240px;
    width: 360px;
}
.div2{  
width: 1160px;
height: 260px;
background-color: yellowgreen;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
}
.div1 .div2{
    float: left;
}
.k{
    background-color: rgba(188, 228, 188, 0.687);
 width: 600px;
 height: 240px;
 margin-top: 20px;
 margin-left: 160px;
}